CompileFlags:
  Add: 
    - -xc
    - -std=c11
    - -Wall
    - -Wextra
    - -Wpedantic
    - -I/home/alexydens/dev/txapela/include
    - -nostdinc
    - -nostdlib
    - -ffreestanding
    - -D__arch_x86_64__
    - -D__boot_limine__
